.page-audition {
    .header-container {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        hr {
            display: none;
            @include media( $desktop-width ){
                display: block;
                position: absolute;
                top: 50%;
                bottom: 50%;
                width: 100%;
                margin: 0;
                height: 5px;
                background-color: #000;
                z-index: -1;
            }
        }
        h2 {
            text-transform: capitalize;
            margin: 0.5rem 0;
            @include media( $desktop-width ){
                margin: 1rem 0;
                display: inline-block;
                background-color: #fff;
                padding: 0 5rem;
            }
        }
    }
    .audition {
        padding: 0 1rem;
        @include media( $desktop-width ){
            padding: 0;
        }
    }
    h3 {
        text-align: center;
        font-family: 'Libre Baskerville';
        font-weight: 300;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        @include media( $desktop-width ){
            text-align: left;
        }
    }
    .block {
        @include media( $desktop-width ){
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .block:nth-child(odd) {
        @include media( $desktop-width ){
            .img-container {
                order: 2;
            }
            .content-container {
                order: 1;
            }
        }
    }
    .block:nth-child(3n+0) {
        @include media( $desktop-width ){
            background-color: rgba(93,173,175,0.5)
        }
    }
    .block:nth-child(3n+1) {
        @include media( $desktop-width ){
            background-color: rgba(103,59,114,0.5)
        }
    }
    .block:nth-child(3n+2) {
        @include media( $desktop-width ){
            background-color: rgba(196,68,61,0.5)
        }
    }
    .img-container {
        @include media( $desktop-width ){
            width: 30vw;
            max-width: 550px;
        }
    }
    .img-overlay {
        overflow: hidden;
        border-radius: 50%;
        height: 90vw;
        width: 90vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media( $desktop-width ){
            width: 20vw;
            height: 20vw;
        }
    }
    .copy-container {
        @include media( $desktop-width ){
            width: 40vw;
            max-width: 700px;
        }
    }
    .copy-container p {
        margin-top: 0;
        font-weight: 300;
    }
}