.post-type-archive-concerts {
    .concert-header-container {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        hr {
            display: none;
            @include media( $desktop-width ){
                display: block;
                position: absolute;
                top: 50%;
                bottom: 50%;
                width: 100%;
                margin: 0;
                height: 5px;
                background-color: #000;
                z-index: -1;
            }
        }
        h2 {
            text-transform: capitalize;
            margin: 0.5rem 0;
            @include media( $desktop-width ){
                margin: 1rem 0;
                display: inline-block;
                background-color: #fff;
                padding: 0 5rem;
            }
        }
    }
    .concerts,
    .community {
        @include media( $concert-tablet ){
            display: flex;
            flex-wrap: wrap;

        }
    }
    .concert {
        margin-bottom: 4rem;
        @include media( $concert-tablet ){
            width: 49.5%;
            margin: 0 0.25%;
        }
        @include media( $desktop-width ){
            width: 33%;
            margin: 0 0.15%;
        }
    }
    .concert-img {
        overflow: hidden;
        height: 300px;
        position: relative;
        cursor: pointer;
        @include media($desktop-width){
            text-align: center;
            height: 450px;
        }
    }
    .concert-hover {
        cursor: pointer;
        opacity: 0;
        background-color: rgba(0,0,0,.8);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        transition: all .3s ease;
        p {
            color: #fff;
            position: absolute;
            margin: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .concert-hover:hover {
        opacity: 1;
    }
    .concert-content,
    .concert-content2 {
        padding: 0 1.5rem;
    }
    .concert-title {
        font-size: 1.75rem;
        font-weight: 300;
        margin: 0;
        line-height: 1;
    }
    .price-date {
        display: flex;
        justify-content: space-between;
        @include media( $desktop-width ){
            font-size: 1.25rem;
        }
        p {
            margin: 0;
        }
    }
    .concert-price {
        font-weight: 300;
    }
    .concert-location {
        font-weight: 300;
    }
    .modal-container {
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.75);
    }
    .concert-modal-container,
    .community-modal {
        position: fixed;
        top: 40px;
        overflow: scroll;
        background-color: #fff;
        height: 90%;
        width: 95%;
        left: 50%;
        transform: translate(-50%);
        @include media( $desktop-width ){
            height: 85%;
            width: 90%;
            top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
    }
    .concert-modal {
        @include media( $desktop-width ){
            width: 75%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
        }
    }
    .modal-close {
        position: fixed;
        top: 7px;
        right: 15px;
        @include media( $desktop-width ){
            top: 20px;
            right: 100px;
        }
        i {
            color: #fff;
        }
    }
    .concert-modal-container {
        .concert-title {
            text-align: center;
            margin: 0.5rem 0;
            @include media( $desktop-width ){
                text-align: left;
                width: 100%;
                margin-top: 3rem;
            }
        }
        .concert-img {
            @include media( $desktop-width ){
                width: 40%;
            }
        }
        .concert-content-container {
            @include media( $desktop-width ){
                width: 60%;
                padding-left: 2rem;
                display: flex;
                flex-direction: column;
            }
        }
        .concert-content {
            padding: 0 1rem;
            @include media( $desktop-width ){
                order: 1;
            }
        }
        .concert-content2 {
            padding: 0 1rem;
            @include media ( $desktop-width ){
                display: none;
            }
        }
        .concert-location {
            margin: 0;
            @include media( $desktop-width ){
                font-size: 1.4rem;
            }
        }
        .concert-details {
            padding: 0 1rem;
            @include media( $desktop-width ){
                order: 3;
            }
            p {
                font-weight: 300;
            }
        }
        .concert-map {
            @include media( $desktop-width ){
                width: 100%;
            }
        }
        .concert-map iframe {
            width: 100%;
            @include media( $desktop-width ){
                height: 400px;
            }
        }
        .performance {
            padding: 1rem;
            background-color: #DDDDDD;
            @include media( $desktop-width ){
                order: 2;
            }
            p {
                margin: 0;
            }
            .perf {
                font-size: 1.1rem;
            }
        }
        .buy-tickets,
        .buy-tickets2 {
            text-align: center;
            margin: 1rem 0;
            @include media( $desktop-width ){
                order: 4;
                display: flex;
                justify-content: space-around;
                flex-direction: row-reverse;
            }
            .button {
                margin: .5rem 0;
                border-radius: 5px;
                padding: .4rem .7rem;
                text-decoration: none;
                color: #fff;
                @include media( $desktop-width ){
                    width: 45%;
                }
            }
        }
        .buy-tickets2 {
            @include media( $desktop-width ){
                width: 50%;
                margin: 1rem auto;
            }
        }
    }
}