.page-faq {
    .faq {
        padding: 0 1rem;
    }
    .question {
        margin-bottom: 0;
    }
    .answer {
        margin-top: 0;
    }
    p {
        font-weight: 300;
    }
    p span {
        font-weight: 500;
    }
}