#colophon {
    background-color: lightblue;
    .footer-newsletter-container {
        background-color: grey;
        padding: 0.75rem 1rem;
    }
    .footer-links-container {
        padding: 1rem 0;
    }
    .footer-links {
        margin: 1rem 0;
        display:flex;
        justify-content: space-around;
    }
    .newsletter-label {
        margin: 0;
    }
    .newsletter-email-input {
        input {
            width: 100%;
            padding: 0.75rem;
        }
    }
    .newsletter-submit-input {
        margin: 0;
        text-align: center;
        input {
            background: none;
            background-color: lightblue;
            box-shadow: none;
            border: none;
            padding: .75rem 5rem;
        }
    }
}