#colophon {
    @include media( $desktop-width ) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ddd;
        border-top: 1px solid #fff;
    }
    .footer-newsletter-container {
        background-color: #DDDDDD;
        padding: 0.75rem 1rem;
        @include media($desktop-width) {
            padding: 2rem 0;
            width: 100%
        }
        .mc4wp-form {
            @include media( $desktop-width ){
                width: 50%;
                margin: 0 auto;
            }
        }
    }
    .footer-links-container {
        padding: 1rem 0;
        @include media ($desktop-width) {
            width: 100%;
            background-color: #888;
        }
    }
    .footer-links {
        margin: 1rem 0;
        display:flex;
        justify-content: space-around;
        @include media( $desktop-width ){
            width: 50%;
            margin: 0 auto;
        }
        .fa {
            color: #252525;
        }
        a {
            color: #fff;
            text-decoration: none;
            font-weight: 300;
        }
    }
    .newsletter-label {
        margin: 0;
        font-size: 1.3rem;
        font-weight: 300;
    }
    .newsletter-email-input {
        input {
            width: 100%;
            padding: 0.75rem;
        }
        @include media( $desktop-width ) {
            width: 50%;
            margin: 1rem auto;
        }
    }
    .newsletter-submit-input {
        margin: 0;
        text-align: center;
        input {
            background: none;
            background-color: #5DADAF;
            color: #fff;
            box-shadow: none;
            border: none;
            width: 65%;
            padding: .6rem .7rem;
            text-shadow: none;
            font-size: 1rem;
            border-radius: 5px;
        }
    }
    .mc4wp-form-fields {
        @include media( $desktop-width ) {
            text-align: center;
        }
    }
}