.home {
    #concert-carousel {
        margin-top: 2rem;
        .owl-dots {
            position: absolute;
            top: -2rem;
            left: 0;
            right: 0;
        }
        .owl-nav {
            position: absolute;
            top: -3.3rem;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .owl-prev,
        .owl-next {
            background: none;
            color: #000;
            opacity: 1;
        }
        .concert-post-head {
            position: relative;
            height: 250px;
            display: flex;
            justify-content: center;
            overflow: hidden;
            img {
                position: absolute;
                height: 250px;
                max-width: none;
                width: auto;
            }
            .concert-title {
                position: absolute;
                color: #fff;
                top: 0;
                left: 0;
            }
            .concert-date {
                position: absolute;
                color: #fff;
                bottom: 0;
                left: 0;
            }
        }
    }
}