.home {
    #concert-carousel {
        margin-top: 2rem;
        .owl-dots {
            position: absolute;
            top: -2rem;
            left: 0;
            right: 0;
        }
        .owl-nav {
            position: absolute;
            top: -3.3rem;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .owl-prev,
        .owl-next {
            background: none;
            color: #000;
            opacity: 1;
            z-index: 1;
        }
        .concert-post-head {
            position: relative;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img {
                position: absolute;
                width: 100%;
                max-width: none;
            }
            .concert-title {
                position: absolute;
                color: #fff;
                top: 0;
                left: 0;
            }
            .concert-date {
                position: absolute;
                color: #fff;
                bottom: 0;
                left: 0;
            }
        }
    }
    .blog {
        .blog-image-container {
            // height: 90vw;
            // width: 90%;
            margin: 0 auto;
            overflow: hidden;
            // border-radius: 50%;
            max-height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .buy-donate {
        display: flex;
        justify-content: space-around;
        margin: 3rem 0;
        .button {
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            width: 40%;
            text-align: center;
            padding: 0.5rem;
        }
        .buy-tickets {
            background-color: lightcyan
        }
        .donate {
            background-color: orange;
        }
    }
}