.site-content {
    min-height: 100vh;
}
body {
    overflow-x: hidden;
}
h2 {
    text-align: center;
    font-family: $font__headings;
    font-size: 2rem;
    font-weight: 300;
}
.button-container {
    text-align: center;
    display: block;
    margin: 1rem 0;
}
.button-container .button {
    width: 65%;
    max-width: 350px;
    min-width: 115px;
    text-decoration: none;
    color: #fff;
    padding: .4rem .7rem;
    display: inline-block;
    border-radius: 5px;
}
.button:visited {
    color: #fff;
}
.button-green {
    background-color: #5DADAF;
}
.button-red {
    background-color: #C4443D;
}
.hide {
    display: none;
}
.no-scroll {
    overflow: hidden;
}