#masthead {
    height: 100%;
    background-color: white;
    .site-description {
        display: none;
    }
    #site-navigation {
        display: flex;
        height: 100%;
        position: relative;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    .nav-icon {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%; 
        margin-left: .75rem;
        @include media( $header-nav2 ) {
            display: none;
        }
    }
    .nav-logo {
        width: 60%;
        margin: 1rem auto 0;
        @include media( $header-nav2 ){
            min-width: 125px;
            width: 20%;
            max-width: 250px;
            margin: .5rem;
        }
    }
    .nav-logo h2 {
        margin: 0;
    }
    .mobile-menu-container {
        position: fixed;
        width: 85%;
        height: 100vh;
        text-align: left;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        background-color: #fff;
        
    }
    .menu-open-nav {
        position: relative;
        height: 12%;
        background-color: #5DADAF;
    }
    .nav-icon-close {
        position: absolute;
        margin-left: .75rem;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .mobile-menu-footer {
        height: 13%;
    }
    .mobile-menu-container .menu-menu-1-container {  
        height: 75%;
        @include media( $header-nav2 ){
            display: none;
        }
    }
    #mobile-menu {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 100%;
            padding: .5rem 1rem;
        }
        a {
            color: #000;
            font-weight: 300;
            font-size: 1.5rem;
        }
    }
    .mobile-links {
        display: flex;
        justify-content: space-around;
    }
    .body-gradient {
        display: none;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
    }
    .main-menu-container {
        display: none;
        @include media( $header-nav2 ) {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include media( $header-nav1 ){
            width: 50%;
        }
        .menu-menu-1-container {
            display: none;
            @include media( $header-nav2 ) {
                width: 80%;
                display: flex;
                align-items: flex-end;
                margin: .5rem 2rem;
            }
            @include media( $header-nav1 ){
                width: 100%;
                margin: 0;
            }
            .menu-item {
                @include media( $header-nav2 ){
                    margin: 0 2%;
                    font-size: 1.3rem;
                    font-weight: 300;
                }
            }
            a {
                @include media( $header-nav2 ){
                    color: #000;
                }
            }
            ul {
                @include media( $header-nav2 ){
                    width: 100%;
                }
            }
        }
    }
    .buy-donate-container {
        display: none;
        @include media( $header-nav1 ){
            display: flex;
            align-items: center;
            width: 30%;
        }
        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .button {
            margin: 0 1rem;
        }
    }
}