.page-our-choir {
    .site-content {
        max-width: 1200px;
        margin: 0 auto;
    }
    .head-head {
        @include media( $desktop-width ){
            display: none;
        }
    }
    section {
        @include media( $desktop-width ){
            margin: 2rem 0;
        }
    }
    h3 {
        text-align: center;
        font-family: 'Libre Baskerville';
        font-size: 1.5rem;
        margin: 1rem 0;
        @include media( $desktop-width ){
            font-size: 2rem;
        }
    }
    h2 {
        margin: 1rem 0;
    }
    p {
        font-weight: 300;
    }
    .next-slide-container {
        display: none;
        @include media( $desktop-width ){
            display: block;
            text-align: center;
        }
    }
    .circle-img-container {
        text-align: center;
        height: 50vh;
        max-height: 500px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media( $desktop-width ){
            width: 400px;
            height: 400px;
            margin: 0 auto;
            border-radius: 50%;
        }
    }
    .about-text-container,
    .director-text-container,
    .composer-text-container {
        padding: 0 1rem;
        text-align: center;
        @include media( $desktop-width ){
            text-align: center;
            max-width: 1000px;
            margin: 0 auto;
        }
        hr{
            @include media( $desktop-width ){
                display: none;
            }
        }
    }
    .about {
        .mobile-about {
            @include media( $desktop-width ){
                display: none;
            } 
        }
        .desktop-about {
            display: none;
            @include media( $desktop-width ){
                display: block;
            }
        }
    }
    .choir {
        .member {
            width: 100%;
            @include media($desktop-width){
                width: 25%;
            }
        }
        .choir-img-container {
            height: 75vw;
            width: 75vw;
            overflow: hidden;
            margin: 0 auto;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include media( $desktop-width ){
                width: 15vw;
                height: 15vw;
            }
        }
        #member-carousel {
            margin-bottom: 2rem;
            @include media( $desktop-width ){
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        .flickity-page-dots {
            bottom: -10px;
        }
        .about-text-container {
            text-align: center;
            p {
                font-weight: 500;
                font-size: 1.25rem;
            }
        }
        .member-carousel-container {
            position: fixed;
            height: 100vh;
            width: 100vw;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,.75);
            z-index: 999;
            .modal-close {
                text-align: right;
            }
        }
        .member-modal {
            position: fixed;
            top: 40px;
            overflow: scroll;
            background-color: #fff;
            height: 90%;
            width: 95%;
            left: 50%;
            transform: translate(-50%);
            @include media( $desktop-width ){
                width: 75%;
                max-height: 100%;
                height: unset;
                padding-bottom: 5rem;
            }
            .member-name {
                text-align: center;
                margin: 0.5rem 0;
                font-weight: 500;
                @include media( $desktop-width ){
                    width: 100%;
                    text-align: left;
                    font-size: 2rem;
                    margin: 0;
                    padding-top: 1rem;
                }
            }
            .modal-img {
                @include media( $desktop-width ){
                    width: 30%;
                }
            }
            .member-content {
                padding: 0 1rem;
                @include media( $desktop-width ){
                    width: 70%;
                } 
            }
        }
        .member-carousel-modal {
            margin-top: 3rem;
            .member {
                @include media( $desktop-width ) {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    padding: 0 5rem;
                }
            }
            .previous,
            .next {
                top: -20px;
                background: none;
                box-shadow: none;
                z-index: 999;
                @include media( $desktop-width ){
                    top: initial;
                    background: initial;
                    box-shadow: initial;
                    
                }
            }
            .flickity-page-dots {
                top: -25px;
                @include media( $desktop-width ){
                    top: unset;
                    bottom: unset;
                }
            }
        }
    }
    #our-choir-photo-carousel {
        height: 75vw;
        @include media( $desktop-width ){
            height: 500px;
        }
    }
    .awards {
        background-color: #5DADAF;
        padding: 1rem 0;
        text-align: center;
        @include media( $desktop-width ){
            background-color: unset;
        } 
        h2,
        p {
            margin: 0;
        }
        .awards-post {
            margin: 0.5rem 0;
        }
        .award-year {
            font-size: 1.5rem;
        }
    }
    .press {
        .press-post {
            margin: 1rem 0;
            text-align: center;
        }
        .source {
            text-decoration: none;
        }
        .press-post p {
            margin: 0;
        }
        .press-source {
            font-weight: 500;
            font-size: 1.1rem;
        }
    }
    .photos {
        margin-bottom: 1rem;
        .photo {
            width: 75%;
            margin-right: 5px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75vw;
            width: 75vw;
            overflow: hidden;
            @include media( $desktop-width ){
                width: 33%;
                height: 400px
            }
        }
    }
    .staff {
        .staff-content {
            text-align: center;
        }
        h3 {
            font-size: 1.75rem;
        }
        .circle-img-container {
            text-align: center;
            height: 50vh;
            max-height: 500px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            @include media( $desktop-width ){
                width: 300px;
                height: 300px;
                margin: 0 auto;
                border-radius: 50%;
            }
        }
    }
    .read-more {
        margin: 0;
    }
}