.page-id-14 {
    .choir {
        .member {
            width: 100%;
        }
        .member-carousel-modal {
            display: none;
        }
    }
    #our-choir-photo-carousel {
        height: 200px;
    }
    .photo {
        width: 75%;
        margin-right: 5px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}