.page-our-music {
    .header-container {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        hr {
            display: none;
            @include media( $desktop-width ){
                display: block;
                position: absolute;
                top: 50%;
                bottom: 50%;
                width: 100%;
                margin: 0;
                height: 5px;
                background-color: #000;
                z-index: -1;
            }
        }
        h2 {
            text-transform: capitalize;
            margin: 0.5rem 0;
            @include media( $desktop-width ){
                margin: 1rem 0;
                display: inline-block;
                background-color: #fff;
                padding: 0 5rem;
            }
        }
    }
    .repetoire {
        .repetoire-carousel {
            margin-bottom: 3rem;
            @include media( $desktop-width ){
                display: flex;
                flex-wrap: wrap;
                width: 70%;
                margin: 0 auto;
            }
        }
        .composer {
            @include media( $desktop-width ){
                width: 23%;
                margin: 0 1%;
            }
        }
        .img-overlay {
            overflow: hidden;
            border-radius: 50%;
            height: 90vw;
            width: 90vw;
            margin: 0 5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            @include media( $desktop-width ){
                height: 15vw;
                width: 15vw;
                margin: 0;
            }
        }
        .repetoire-copy {
            padding: 0 1rem;
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
        }
        .name {
            text-align: center;
            font-size: 1.25rem;
        }
        .flickity-prev-next-button {
            bottom: -60px;
            top: unset;
        }
        .flickity-page-dots {
            width: 70%;
            left: 50%;
            transform: translate(-50%);
        }
    }
    .listen {
        margin: 5rem 0;
        .tracks-carousel {
            margin-top: 3rem;
            @include media( $desktop-width ){
                display: flex;
                flex-wrap: wrap;
                width: 75%;
                margin: 0 auto;
            }
        }
        .track {
            @include media( $desktop-width ){
                width: 33%;
            }
        }
        .flickity-prev-next-button {
            top: -20px;
        }
        .flickity-page-dots {
            top: -25px;
            width: 70%;
            left: 50%;
            transform: translate(-50%);
            bottom: unset;
        }
        .bandcamp p {
            margin: 0;
            text-align: center;
        }
    }
    .watch {
        .video-carousel {
            margin-top: 3rem;
            @include media( $desktop-width ){
                display: flex;
                flex-wrap: wrap;
                width: 75%;
                margin: 0 auto;
            }
        }
        .video {
            @include media( $desktop-width ){
                width: 30%;
                margin: 0 1.5%;
            }
            iframe {
                height: 250px;
            }
        }
        .flickity-prev-next-button {
            top: -25px;
        }
        .flickity-page-dots {
            top: -30px;
            width: 70%;
            left: 50%;
            transform: translate(-50%);
            bottom: unset;
        }
    }
    .flickity-prev-next-button {
        background: none;
        box-shadow: none;
    }
    .conductor,
    .track,
    .video {
        width: 100%;
        text-align: center;
    }
}