.page-support-us {
    h1, h2, h3 {
        text-align: unset;
        font-family: Libre Baskerville;
    }
    a {
        color: #5dadaf;
    }
    .image-container {
        text-align: center;
        height: 100%;
        max-height: 500px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            max-width: 1400px;
        }
    }
    .support-header-container {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        .heading {
            text-align: center;
            font-weight: 500;
            margin: 1rem 0;
            display: inline-block;
            background-color: #fff;
            @include media( $desktop-width ){
                padding: 0 5rem;
            }
        }
        hr {
            display: none;
            @include media( $desktop-width ){
                display: block;
                position: absolute;
                top: 50%;
                bottom: 50%;
                width: 100%;
                margin: 0;
                height: 5px;
                background-color: #000;
                z-index: -1;
            }
        }
    }
    .column-container {
        @include media( $desktop-width ){
            display: flex;
            max-width: 1400px;
            margin: 0 auto 2rem;
        }
        
    }
    .column {
        padding: 0 1rem;
        @include media( $desktop-width ){
            padding: 0;
            flex: 1;
            margin: 0 1rem;
            height: 100%;
            width: 100%;
        }
    }
    .row-content {
        max-width: 1400px;
        margin: 0 auto 2rem;
    }
    .bottom-row {
        background-color: lightgrey;
        padding: 1rem;
        @include media( $desktop-width ) {
            padding: 2rem 5rem;
        }
    }
}

