.page-timeline {
    h2 {
        margin: 0;
    }
    .sidebar {
        display: none;
        @include media( $desktop-width ){
            display: block;
        }
    }
    .timeline-year-container {
        font-size: 1.75rem;
        text-align: center;
        font-family: "Libre Baskerville";
        p {
            margin-top: 0;
        }
    }
    .timeline-img-overlay {
        overflow: hidden;
        border-radius: 50%;
        height: 90vw;
        width: 90vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .timeline-content-container {
        padding: 0 1rem;
        font-weight: 300;
        text-align: center;
        margin-bottom: 2rem;
        h3 {
            font-family: "Libre Baskerville";
            font-size: 1.5rem;
        }
        p {
            text-align: left;
            margin-bottom: 0.5rem;
        }
    }
    .read-more-container {
        display: inline-block;
        p {
            margin: 0;
        }
    }
}